

ul {
list-style-type: none;
}

.nav{
  height: 100vh;
}

.item {
  vertical-align: top;
  margin: auto;
  /*display: inline-block;*/
  text-align: center;
  width: 80px;
  padding: 0.5rem;   
  border-radius: 10%;
}

.item:hover{
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}



.navegacao img{
  width: 50px;
  
}

.caption {
  display: block;
  color: black;  
}

nav h3{
  text-align: center;
  background-color:black;
  color:white;
  padding: 1rem;
}
