@media screen and (max-width: 2000px) {
  
  * {
    box-sizing: border-box;
  }
  
  .imagem-efeitos {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .grid-container::after {
    content: "";
    clear: both;
    display: table;
  }

  .foto{
    width:100%;
    height: auto;
  }

 

}

@media screen and (max-width: 1024px) {
  article, nav {
    width: 50%;
  }

 .grid-container div{
   width: 500px;
 }

}

@media screen and (max-width: 768px) {
  article, nav {
    width: 100%;
  }

  .grid-container img{
    width: 100%;
    height: auto;
  }
  
  
  .grid-container div{
    width: 50%;
    display: block;
    float: left;
  }
}

@media screen and (max-width: 505px) {
  article, nav {
    width: 100%;
  }

  .grid-container img{
    width: 100%;
    height: auto;
  }
  
  
  .grid-container div{
    width: 100%;
    display: block;
    float: left;
  }


}

@media screen and (max-width: 320px) {
  article, nav {
    width: 100%;
    
  }

  .grid-container img{
    width: 100%;
    height: auto;
  }
  
  
  .grid-container div{
    width: 100%;
    display: block;
    float: left;
  }


}